# logs
/logs

# environment vars
.env

# vendor and assets
node_modules
/vendor/*
/public/assets/*
/public/themes/*
!/public/assets/modified
/.docs/.out/*

# Custom modules
interface/modules/custom_modules/**
!interface/modules/custom_modules/README.md

# ccda service build
ccdaservice/node_modules

# dev editor configs
/.idea/*
/.vscode/*
/nbproject/*
.DS_Store
.buildpath
.project
.settings

# testing
.phpunit.result.cache

#ignore documents
sites/default/documents/
sites/default/sqlconf.php
#package-lock
ccdaservice/package-lock.json
info.php
telesalud/notas.txt
telesalud/laravel/routes.txt
sites/default/sqlconf.php
telesalud/api/v1/composer.lock
