# Docker Compose for TeleSalud project based on OpenEmr
# Service naming structure project-framework-service
# Container naming structure project_framework_service
# Maintanied by yois <sioy23@gmail.com>
version: '3.1'
services:
    telesalud-openemr-mysql:
        container_name: telesalud_openemr_mysql
        restart: always
        image: mariadb:10.6
        command:
            [
                'mysqld',
                '--character-set-server=utf8mb4',
                '--ssl-ca=/etc/ssl/ca.pem',
                '--ssl_cert=/etc/ssl/server-cert.pem',
                '--ssl_key=/etc/ssl/server-key.pem'
            ]
        ports:
            - 8320:3306
        volumes:
            - ../library/sql-ssl-certs-keys/easy/ca.pem:/etc/ssl/ca.pem:ro
            - ../library/sql-ssl-certs-keys/easy/server-cert.pem:/etc/ssl/server-cert.pem:ro
            - ../library/sql-ssl-certs-keys/easy/server-key.pem:/etc/ssl/server-key.pem:ro
            # out of project folder
            - ../../../data/database:/var/lib/mysql
        environment:
            MYSQL_ROOT_PASSWORD: root
            TZ : America/Argentina/Buenos_Aires
        # networks:
        #     - internal
    telesalud-openemr:
        # build: .
        container_name: telesalud_openemr
        restart: always
        image: openemr/openemr:flex
        ports:
            # web access port
            - 8300:80
            # ssl web access port
            - 9300:443
        volumes:
            - ../..:/openemr:ro
            - ../..:/var/www/localhost/htdocs/openemr:rw
            - ../../public:/var/www/localhost/htdocs/openemr/public:rw
            - ../../sites:/var/www/localhost/htdocs/openemr/sites:rw
            - ../../node_modules:/var/www/localhost/htdocs/openemr/node_modules:rw
            - ../../vendor:/var/www/localhost/htdocs/openemr/vendor:rw
            - ../../ccdaservice/node_modules:/var/www/localhost/htdocs/openemr/ccdaservice/node_modules:rw
            # out of project folder
            # logs
            - ../../../logs:/var/log:rw
            - ../../../logs-www:/var/www/logs:rw
            # couchdb data
            - ../../../data/couchdb:/couchdb/data
        environment:
            DEBUG_COLORS: "true"
            TERM: xterm-256color
            COLORTERM: truecolor
            MYSQL_HOST: telesalud-openemr-mysql
            MYSQL_ROOT_PASS: root
            MYSQL_USER: openemr
            MYSQL_PASS: openemr
            OE_USER: admin
            OE_PASS: pass
            EASY_DEV_MODE: "yes"
            EASY_DEV_MODE_NEW: "yes"
            DEVELOPER_TOOLS: "yes"
            XDEBUG_ON: 1
            XDEBUG_PROFILER_ON: 1
            # setting xdebug client host for cases where xdebug.discover_client_host fails
            XDEBUG_CLIENT_HOST: host.docker.internal
            GITHUB_COMPOSER_TOKEN: c313de1ed5a00eb6ff9309559ec9ad01fcc553f0
            GITHUB_COMPOSER_TOKEN_ENCODED: ZWU5YWIwZWNiM2ZlN2I4YThlNGQ0ZWZiNjMyNDQ5MjFkZTJhMTY2OQo=
            OPENEMR_DOCKER_ENV_TAG: easy-dev-docker
            OPENEMR_SETTING_site_addr_oath: 'https://localhost:9300'
            OPENEMR_SETTING_oauth_password_grant: 3
            OPENEMR_SETTING_rest_system_scopes_api: 1
            OPENEMR_SETTING_rest_api: 1
            OPENEMR_SETTING_rest_fhir_api: 1
            OPENEMR_SETTING_rest_portal_api: 1
            OPENEMR_SETTING_portal_onsite_two_enable: 1
            OPENEMR_SETTING_ccda_alt_service_enable: 3
            OPENEMR_SETTING_couchdb_host: telesalud-openemr-couchdb
            OPENEMR_SETTING_couchdb_port: 6984
            OPENEMR_SETTING_couchdb_user: admin
            OPENEMR_SETTING_couchdb_pass: password
            OPENEMR_SETTING_couchdb_dbase: example
            OPENEMR_SETTING_couchdb_ssl_allow_selfsigned: 1
            OPENEMR_SETTING_gbl_ldap_host: 'ldap://telesalud-openemr-openldap:389'
            OPENEMR_SETTING_gbl_ldap_dn: 'cn={login},dc=example,dc=org'
        depends_on:
            - telesalud-openemr-mysql
        # networks:
        #     - internal
    telesalud-openemr-phpmyadmin:
        container_name: telesalud_openemr_phpmyadmin
        restart: always
        image: phpmyadmin
        ports:
            - 8310:80
        environment:
            PMA_HOSTS: telesalud-openemr-mysql
    telesalud-openemr-couchdb:
        container_name: telesalud_openemr_couchdb
        restart: always
        image: couchdb
        ports:
            - 5984:5984
            - 6984:6984
        volumes:
            - ../library/couchdb-config-ssl-cert-keys/local.ini:/opt/couchdb/etc/local.ini:rw
            - ../library/couchdb-config-ssl-cert-keys/easy/ca.pem:/etc/ssl/ca.pem:ro
            - ../library/couchdb-config-ssl-cert-keys/easy/server-cert.pem:/etc/ssl/server-cert.pem:ro
            - ../library/couchdb-config-ssl-cert-keys/easy/server-key.pem:/etc/ssl/server-key.pem:ro
            - ../../../data/couchdb:/opt/couchdb/data
        environment:
            COUCHDB_USER: admin
            COUCHDB_PASSWORD: password
        depends_on:
            - telesalud-openemr-mysql
    #     networks:
    #         - internal
    # telesalud-openemr-openldap:
    #     container_name: telesalud_openemr_openldap
    #     restart: always
    #     image: openemr/dev-ldap:easy
    #     ports:
    #         - 8389:389
    #     environment:
    #         LDAP_TLS_VERIFY_CLIENT: try
    #         LDAP_TLS_CA_CRT_FILENAME: ca.pem
    #         LDAP_TLS_CRT_FILENAME: server-cert.pem
    #         LDAP_TLS_KEY_FILENAME: server-key.pem
    #     # depends_on:
    #     #     - telesalud-openemr
    #     networks:
    #         - internal
    telesalud-xdebug-nginx:
        container_name: telesalud_xdebug_nginx
        build:
            context: .
            dockerfile: nginx/Dockerfile
        ports:
            - 8390:80
        # networks:
        #     - internal
        volumes:
            - ../..:/var/www/html
    telesalud-xdebug-php:
        container_name: telesalud_xdebug_php
        build:
            context: .
            dockerfile: php/Dockerfile
        # networks:
        #     - internal
        environment:
            XDEBUG_MODE: debug
            XDEBUG_CONFIG: client_host=host.docker.internal client_port=9003
        volumes:
            - ../..:/var/www/html
    # Laravel service
    telesalud-api:
        container_name: telesalud_api
        # image: docker.io/bitnami/laravel:8
        image: laravel/lumen
        ports:
            - 8490:8000
        environment:
            - DB_HOST=telesalud-openemr-mysql
            - DB_PORT=3306
            - DB_USERNAME=openemr
            - DB_PASSWORD=openemr
            - DB_DATABASE=openemr
        volumes:
            - '../../telesalud/api/v1:/app'
        depends_on:
            - telesalud-openemr-mysql
# networks:
#     internal:
#         driver: bridge
# volumes:
#     database: {}
#     public: {}
#     sites: {}
#     nodemodules: {}
#     vendor: {}
#     ccdanodemodules: {}
#     log: {}
#     logs-www: {}
#     couchdb: {}
